<div>
    <h1>Application Download</h1>
    <p>Name: {{fullname}}</p>
    <p>Email: {{email}}</p>
    <p>Contact: {{contact}}</p>
    <p>Status: {{status}}</p>
    <p>Image: {{image}}</p>
    <span></span>
</div>